.Navbar{
    display: flex;
   justify-content: space-around;
   padding: 16px;
   box-shadow: 0 1px 3px -2px black;
}
.logo{
    display: flex;
    align-items: center;
}
.logo p{
    color: black;
    font-weight: 600px;
    font-size: 38px;

}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 500px;
}
.menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 3px;
}
.menu hr{
    border:none;
    width: 80%;
    height: 3px;
    background-color: red;
    border-radius: 15px;
}
.cartlogo{
    display: flex;
    align-items: center;
    gap: 45px;
}
.cartlogo button{
    width: 157px;
    height: 58px;
    border-radius: 50px;
    border: 1px solid gray;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}
.cartlogo button:active{
    background-color:gainsboro;
}
.count{
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -35px;
      margin-left: -55px;
      border-radius: 11px;
      font-size:14px;
      background: red;
      color: white;
}